<div class="container">
<mat-grid-list [cols]="breakpoint" rowHeight="2:1" class="font-col" (window:resize)="onResize($event)">
  <mat-grid-tile >
    <div class="container">
      <div class="row">
        <div class="col-12 text-center"><i class="material-icons global">trending_up</i></div>
      </div>
      <div class="row">
        <div class="col-12 text-center">CONFIRMADOS</div>
      </div>
      <div class="row">
        <div class="col-12 text-center">{{resultadoGlobal.totalConfirmados}}</div>
      </div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="container">
      <div class="row">
        <div class="col-12 text-center"><i class="material-icons global" style="color:red;">trending_down</i></div>
      </div>
      <div class="row">
        <div class="col-12 text-center">MUERTOS</div>
      </div>
      <div class="row">
        <div class="col-12 text-center">{{resultadoGlobal.totalMuertos}}</div>
      </div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="container">
      <div class="row">
        <div class="col-12 text-center"><i class="material-icons global" style="color:green;">how_to_reg</i></div>
      </div>
      <div class="row">
        <div class="col-12 text-center">RECUPERADOS</div>
      </div>
      <div class="row">
        <div class="col-12 text-center">{{resultadoGlobal.totalRecuperados}}</div>
      </div>
    </div>
  </mat-grid-tile>
</mat-grid-list>

<p class="fecha-style">Última actualización: {{fechaUpdate}}</p>
<mat-form-field class="example-container">
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Spain">
</mat-form-field>

<div class="table-responsive">
<table mat-table [dataSource]="dataSource" class="table-color mat-elevation-z8">

  <!-- Pais Column -->
  <ng-container matColumnDef="pais">
    <th mat-header-cell *matHeaderCellDef>Pais</th>
    <td mat-cell *matCellDef="let element"> {{element.pais}} </td>
  </ng-container>

  <!-- Confirmados Column -->
  <ng-container matColumnDef="totalConfirmados">
    <th mat-header-cell *matHeaderCellDef>Confirmados</th>
    <td mat-cell *matCellDef="let element"> {{element.totalConfirmados}} </td>
  </ng-container>
  <ng-container matColumnDef="nuevosConfirmados">
    <th mat-header-cell *matHeaderCellDef><i class="material-icons">trending_up</i></th>
    <td mat-cell *matCellDef="let element"> {{element.nuevosConfirmados}} </td>
  </ng-container>

  <!-- Muertos Column -->
  <ng-container matColumnDef="totalMuertos">
    <th mat-header-cell *matHeaderCellDef>Muertos</th>
    <td mat-cell *matCellDef="let element"> {{element.totalMuertos}} </td>
  </ng-container>
  <ng-container matColumnDef="nuevosMuertos">
    <th mat-header-cell *matHeaderCellDef><i class="material-icons" style="color:red;">trending_down</i></th>
    <td mat-cell *matCellDef="let element"> {{element.nuevosMuertos}} </td>
  </ng-container>

  <!-- Recuperados Column -->
  <ng-container matColumnDef="totalRecuperados">
    <th mat-header-cell *matHeaderCellDef>Recuperados</th>
    <td mat-cell *matCellDef="let element"> {{element.totalRecuperados}} </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
</div>
<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

<div class="row charts-fila">
    <div class="col text-center">
      <button class="btn btn-default mapa active" (click)="getCharts('mapa')">MAPA</button>
      <button class="btn btn-default line" (click)="getCharts('line')">LINE</button>
    </div>
</div>

<div *ngIf="isShowDivIf=='mapa'" class="regions_div" id="regions_div"></div>
</div>
<div *ngIf="isShowDivIf=='line'" class="chart_div" id="chart_div"></div>
