/* Structure */
@import "~@angular/material/prebuilt-themes/purple-green.css";
table {
  width: 100%;
}

.mat-form-field {
  padding: 10px;
  font-size: 15px;
  width: 100%;
  background-color: #2E342F;
}

.mat-paginator {
  background-color: #2E342F;
}

.mat-select-value.ng-tns-c200-2 {
    color:white;
}

.navbar-dark .navbar-nav .nav-link{
  border-bottom-width: 5px;
  border-bottom-style: solid;
  border-bottom-color: red;
}

.mat-grid-tile {
  color: white;
  border-radius: 200px;
}

p.fecha-style{
  margin-top: 70px;
}

.font-col{
  font-size: 34px;
  font-family: 'Changa', sans-serif;
}

.row{
  margin: 15px;
}

.fecha-style{
  font-family: 'Changa', sans-serif;
  color: white;
  font-size: 20px;
}

td{
    background-color: #2E342F;
    font-family: 'Changa', sans-serif;
    width: 250px;
    padding-right: 34px;
    padding-left: 34px;
}

th{

    background-color: #2E342F;
    font-family: 'Changa', sans-serif;
}

th.mat-header-cell.cdk-header-cell{
    font-size: 15px;
}

th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
    padding: 0 10px 0 10px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

div.col.text-center {
    margin: 40px 0 0px 0;
}

button.btn.btn-default {
  font-size: 50px;
  background-color: #2E342F;
  font-family: 'Changa', sans-serif;
  text-decoration: line-through;
  text-decoration-color: #6C3483;
  color: #f3f3f3;

}

@media screen and (max-width: 768px) {
  button.btn.btn-default {
    font-size: 30px;
    background-color: #2E342F;
    font-family: 'Changa', sans-serif;
    text-decoration: line-through;
    text-decoration-color: #6C3483;
  }

  div.col.text-center {
      margin: 20px 0 0px 0;
  }
  .fecha-style{
    font-size: 15px;
  }

}

button.btn.btn-default:focus {

  outline:none !important;
  outline-width: 0 !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}


button.btn.btn-default.active {
  text-decoration: none;
}


.chart_div {
  width: 100%;
  height: 500px;
}

.regions_div {
  width: 100%;
  height: 500px;
}

@media screen and (max-width: 768px) {

    .chart_div {
      width: 100%;
      height: 250px;
    }

    .regions_div {
      width: 100%;
      height: 250px;
    }


}

.material-icons.global{

  font-size: 60px;
}

input.mat-input-element {
    color: white;
}
